/* 
    Table of Contents

        0. Imports (scss partials, fonts)
        1. Globals

*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*-- 1. Globals  --*/
html,
body {
  margin: 0;
  padding: 0;
  font-size: 8px; }

body {
  background-color: #6C7B82; }

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid red;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
