// Color palette
$seaweed: #6C7B82;
$dark-seaweed: #2B383E;

$canary: #F1B545;
$dark-canary: #D9A85F;

$terracota: #C83634;
$dark-terracota: #8A2F20;

$grey: #BCBCBC;
$veige: #F6EBE4;

$white: #ffffff;