// Colors
/*
    1. Primary color
    2. Secondary color
    3. Light and dark variants
    4. Additional ( such as colors for backgrounds, surfaces, errors, typography, and iconography )
*/

// 1. Primary color
$primary-color: #caa130;

// 2. Secondary color
$secondary-color: #4f6849;

// 3. Light and dark variants
$primary-color-light: #ffbb00;
$primary-color-dark: #be8c00;

$secondary-color-light: #7ba171;
$secondary-color-dark: #212b1e;

// 4. Additional
$background-color: #2d2d2d;
$surface-color: #d2d2d2;
$error-color: #d32e2e;


